@import 'editor.css';

*{
    box-sizing: border-box;
}

/* just fonts for headings and footers */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

body {
    background-color: #22252C;
}

.hebrew {
    direction: rtl;
}

.container {
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-rows: 100px auto 1fr 100px  ;
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    grid-template-areas:
    "header"
    "search-bar"
    "main"
    "footer" ;
}
header {
    grid-area: header;
    /* height: 200px; */
    width: 100%;
    background: linear-gradient(90deg, rgba(0,36,17,1) 0%, #129EAD 0%, #2CB77B 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100vh;
    font-family: Poppins;
    color: white;
    margin-bottom: 10px;
}
header .logo {
    background-image: url(../ICONS/LOGO.png);
    background-repeat:no-repeat;
    background-size:contain;
    height:50px;
    width:100px;
    align-self: end;
    margin-bottom: 10px;
}
header .burger-menu {
    background-image: url(../ICONS/burger-btn.png);
    background-repeat:no-repeat;
    background-size:contain;
    height: 50px;
    width: 50px;
    display: none;
}
.header-inner-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;
}
.header-inner-container>*:hover {
    cursor: pointer;
}
.bg-info {
    height: fit-content;
    color: white;
    background-color: #21AC91;
    border-radius: 3em;
}

.search-bar {
    width: 100%;
    grid-area: search-bar;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.search-bar>* {
    flex-basis: 50%; 
}
.search-bar .keywords {
    background-color: #87898D;
    border-radius: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 0 10px 0 10px; */
    margin-inline-start: 10px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
}
.keywords>*:hover {
    cursor: pointer;
}
.btn-more {
    background: linear-gradient(90deg, rgba(0,36,17,1) 0%, #129EAD 0%, #2CB77B 100%);
    color: white;
    max-height: 50px;
    margin-inline-start: 10px;
    border-radius: 15px;
    align-self: center;
}
.search-bar .keywords>*:not(button) {
    padding-left: 10px;
    color: white;
}
.search-bar .keywords span:nth-child(even) {
    display: none;
}
.search-bar .keywords span.reveal {
    display: inline;
}
.search-input {
    background-color: #22252C;
    border-radius: 100vh;
    color: white;
    height: 50px;
    width: 100%;  
}
.words-container {
    display: flex;
}
.words-container .btn-more {
    cursor: pointer;
}
.search-input::placeholder { 
    color: #909193;
    opacity: 1; 
    text-align: start;
    font-size: 1.5rem;
    font-size: Poppins;
    padding-inline-start: 20px;
}

main { 
    grid-area: main;
    background-color: #383B42;
    padding: 10px;
    border-radius: 10px;
    font-family: Poppins;
}
.img-gallery {
    display: grid;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: repeat(auto-fill, minmax(200px,1fr)); 
    grid-template-columns: repeat(6,200px);
}
.img-gallery>* {
    width: 100%;
    grid-row: span 1;
    grid-column: span 1;
}
.img-gallery>*:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    grid-area: footer;
    background: linear-gradient(90deg, rgba(0,36,17,1) 0%, #129EAD 0%, #2CB77B 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    margin-top: 10px;
    font-family: Poppins;
}
.pressed {
    background-color: white;
    color: #21AC91;
    border-radius: 3em;
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 1320px) {
    .img-gallery {
        display: grid;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-rows: repeat(auto-fill, minmax(200px,1fr)); 
        grid-template-columns: repeat(4,200px);
    }
    header {
        max-width: 900px;
    }
    .search-bar {
        max-width: 900px;
    }
    footer {
        max-width: 900px;
    }
    .header-inner-container {
        width: 30%;
        margin-inline-start: 15px;
        gap: 15px;
    }

}
@media screen and (max-width: 920px){
    .editor-container {
        flex-direction: column;
    }
    .line-input {
        align-items: stretch;
        width: 80%;
    }
    .canvas-container {
        display: flex;
        justify-content: center;
    }
    .control-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .control-box >* input {
        height: 50px;
    }

    .btn-close-editor {
        position: fixed;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 850px){
    .layout {
        width: 100%;
        border-radius: 0;
    }
    .search-bar {
        height: fit-content;
        display: flex;
        flex-direction: column;
        
    }
    .input-container {
        flex-basis: 50%;
        width: 100%;
        height: 50%;
    }
    .search-input {
        flex-basis: 50%;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    .img-gallery {
        display: grid;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-rows: auto ;
        grid-template-columns: 1fr 1fr;
    }
    canvas {
        width: 250px;
        height: 250px;
    }
    /* burger-menu support */
    header .burger-menu{
        display: block;
    }
    .header-inner-container{
        background: linear-gradient(90deg, rgba(0,36,17,1) 0%, #129EAD 0%, #2CB77B 100%);
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #292929;
        width: 200px;
        transform: translateX(100%);
        border-inline-start: 1px solid #292929;
        transition: transform .6s, box-shadow .6s;
        z-index: 1;
    }
    body.menu-open .header-inner-container {
        transform: translateX(0);
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }
}


